<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play at <%= location.name %></title>
</head>
<body>
    <h1>
        <%= location.name %>
    </h1>
    <ul>
        <li>
            <p>Location: </p>
            <%= location.location %>
        </li>
        <li>
            <p>Description: </p>
            <%= location.description %>
        </li>
        <li>
            <p>Rating: </p>
            <%= location.rating %>
        </li>
    </ul>
</body>
</html>